body {
  margin: 0;
  background-color: #001f36;
}
.header {
  background-color: #432980;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.calculadora {
  position: absolute;
  right: 15px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #071f97;
  border: 1.5px solid #fd7730;
  color: white;
  top: 20px;
  cursor: pointer;
}

.calculadora a {
  text-decoration: none;
  color: white;
}

.criaçao {
  position: absolute;
  right: 125px;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  background-color: #071f97;
  border: 1px solid #fd7730;
  color: white;
  top: 20px;
  cursor: pointer;
}

.criaçao a {
  text-decoration: none;
  color: white;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.content {
  justify-content: center;
  margin: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
  font-family: "Poppins", sans-serif;
}

.cards .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #7d2ae8;
}
.cards .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.cards {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.cards::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  background-color: #7d2ae8;
  border-radius: 20px 20px 0 0;
}

.cards .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.cards .media-icons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .media-icons i {
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cards .media-icons i:hover {
  opacity: 1;
}

.cards .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color: #333;
}

.name-profession .name {
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession {
  font-size: 15px;
  font-weight: 500;
}

.cards .rating {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.cards .rating i {
  font-size: 18px;
  margin: 0 2px;
  color: #7d2ae8;
}

.cards .forms {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.cards .forms button {
  background: #7d2ae8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 11px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.forma button:hover {
  background: #6616d0;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adicione um fundo semi-transparente */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Z-index alto para sobrepor todo o conteúdo */
}

.decorated {
  background-color: #fd7730;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
  font-family: "M PLUS Rounded 1c", sanserif;
  margin: 8px;
}

#fecharBtn {
  display: inline-block;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#fecharBtn img {
  width: 24px;
  height: 24px;
}
